// Primary theme
$color-primary: #800020;
$color-secondary: #AE6165;
$color-tertiary: #004451;
$color-neutral: #FFFDD0;

// Font colours
$color-font-heading: #570013;
$color-font-body: #1d1d03;
$color-font-secondary: #78716c;