@import '@variables/colours';
@import '@variables/typography';

.body {
    background-color: $color-neutral;
}

.title {
    color: $color-font-heading;
    font-family: $font-family-noto-serif;
}

.body {
    color: $color-font-body;
    font-family: $font-family-manrope;
}