.container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.content {
  max-width: 100vh;
}

.bio {
  text-align: justify;
  margin: 0 15vh;
}
