.container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.content {
  max-width: 100vh;
}

.bio {
  text-align: justify;
  margin: 0 8.5rem;
  line-height: 1.5rem;
  @media (max-width: 768px) {
    margin: 0 3rem;
  }
}
